apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: cert-manager
  namespace: argocd
spec:
  generators:
    - clusters:
        selector:
          matchLabels:
            argocd.argoproj.io/secret-type: cluster
  template:
    metadata:
      name: "cert-manager-{{name}}"
      annotations:
        argocd.argoproj.io/sync-wave: "100"
    spec:
      project: default
      source:
        repoURL: https://charts.jetstack.io
        targetRevision: v1.19.3
        chart: cert-manager
        helm:
          values: |
            crds:
              enabled: true
      destination:
        server: "{{server}}" #
        namespace: cert-manager
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
          - ServerSideApply=true
          - ApplyOutOfSyncOnly=true
